.dark-pane {
    background-color: #0c0c0c; /* This provides the solid black background */
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.dark-bg-text {
    color: #999;
}

.dark-bg-text strong {
    color: #fff;
}